
.vs/Calculator/FileContentIndex/137dc9e6-23ac-434a-a04d-b53b0f9e74d1.vsidx
.vs/Calculator/FileContentIndex/137dc9e6-23ac-434a-a04d-b53b0f9e74d1.vsidx
.vs/Calculator/FileContentIndex/350c0e4c-1c66-468c-8c49-2ff2161feef2.vsidx
.vs/Calculator/FileContentIndex/9de12333-7d0b-40ff-b710-3a624628984a.vsidx
.vs/Calculator/v17/.suo
.vs/Calculator/FileContentIndex/dca91b55-5aff-425e-ac5d-b3ad49d8f6f0.vsidx
.vs/Calculator/v17/DocumentLayout.json
.vs/Calculator/v17/ipch/AutoPCH/95b13c9160cf16d3/CALCULATOR.ipch
.vs/Calculator/FileContentIndex/137dc9e6-23ac-434a-a04d-b53b0f9e74d1.vsidx
.vs/Calculator/FileContentIndex/350c0e4c-1c66-468c-8c49-2ff2161feef2.vsidx
.vs/Calculator/v17/.suo
.vs/Calculator/v17/Browse.VC.db
.vs/Calculator/v17/DocumentLayout.json
